<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="template :: head">
</head>
<body>
<nav th:replace="template :: navbar"></nav>
<section th:replace="template :: afternavbar">
</section>
<div class="col-lg-3" th:each="article, iterStat : ${articleList}">
    <div class="panel panel-default">
        <div class="panel-heading" ><span th:text="${article.name}"></span></div>
        <div class="panel-body">
            <p class="lead">Summary</p>
            <p > <span th:text="${article.summary}"></span></p>
            <hr/>
            <div class="row">
                <span th:text="${article.date}"></span>
                <a th:href="@{/article1/{id}(id=${article.id})}"> View more>></a>
            </div>
        </div>
    </div>
</div>
</body>
</html>